@import '../../scss/variables';

.todo-form {
    margin-bottom: 32px !important;
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 90%;

    @media (min-width: $tablet) {
        display: block;
        width: auto;
    }

    .todo-input {
        padding: 14px 32px 14px 16px;
        border-radius: 4px 0 0 4px;
        border: 2px solid $colour_3;
        outline: none;
        flex-grow: 1;
        background: transparent;
        color: #fff;

        @media (min-width: $tablet) {
            width: 320px;
        }

        &::placeholder {
            color: $colour_light;
        }

        &.edit {
            border: 2px solid $colour_6;
        }

        .todo-button {
            padding: 16px;
            border: none;
            border-radius: 0 4px 4px 0;
            cursor: pointer;
            outline: none;
            background: linear-gradient(
              90deg,
              $colour_4,
              $colour_5
            );
            color: #fff;
            text-transform: capitalize;

            &.edit {
                background: linear-gradient(
                  90deg,
                  $colour_7,
                  $colour_8
                );
                
                padding: 16px 22px;
            }
        }

    }

    .todo-button {
        padding: 16px;
        border: none;
        border-radius: 0 4px 4px 0;
        cursor: pointer;
        outline: none;
        background: linear-gradient(
          90deg,
          $colour_4,
          $colour_5
        );
        color: #fff;
        text-transform: capitalize;
    }
}