// Colours
$background: #161a2b;
$colour_1: rgb(16, 255, 255) 0%;
$colour_2: rgba(100, 115, 255, 1) 100%;
$colour_3: #5d0cff;
$colour_4: rgba(93, 12, 255, 1) 0%;
$colour_5: rgba(155, 0, 250, 1) 100%;
$colour_6: #149fff;
$colour_7: rgba(20, 159, 255, 1) 0%;
$colour_8: rgba(17, 122, 255, 1) 100%;
$colour_9: rgba(255, 118, 20, 1) 0%;
$colour_10: rgba(255, 84, 17, 1) 100%;
$colour_11: rgba(255, 12, 241, 1) 0%;
$colour_12: rgba(250, 0, 135, 1) 100%;
$colour_light: #e2e2e2;